# subscription_id = "2dbedacf-40ac-4b61-8bdc-a3025e767aee"
# default_resourcegroup = "skgc-vrd-prod-koce-network-rg"

# vrd_dev_subnets = {
    
#     "skgc-vrd-prod-koce-dmz-001-subnet": 	"10.242.18.0/26"
#     "skgc-vrd-prod-koce-app-001-subnet": 	"10.242.18.64/26"
#     "skgc-vrd-prod-koce-ml-001-subnet": 	"10.242.18.128/26"
#     "skgc-vrd-prod-koce-data-001-subnet": 	"10.242.18.192/26"
#     "skgc-vrd-prod-koce-other-001-subnet": 	"10.242.19.0/26"
# }
# vrd_prod_subnets = {
#     "skgc-vrd-dev-koce-dmz-001-subnet": 	"10.242.22.0/26"
#     "skgc-vrd-dev-koce-ml-001-subnet": 	    "10.242.22.128/26"
#     "skgc-vrd-dev-koce-data-001-subnet": 	"10.242.22.192/26"
#     "skgc-vrd-dev-koce-other-001-subnet": 	"10.242.23.0/26"
# }

vrd_subnets = [
    {
        name = "skgc-vrd-prod-koce-dmz-001-subnet" 
        cidr = ["10.242.18.0/26"]
    },
    {
        name = "skgc-vrd-prod-koce-app-001-subnet"
        cidr = ["10.242.18.64/26"]
    },
    {
        name = "skgc-vrd-prod-koce-ml-001-subnet"
        cidr = ["10.242.18.128/26"]
    },
    {
        name = "skgc-vrd-prod-koce-data-001-subnet"
        cidr = ["10.242.18.192/26"]
    },
    {
        name = "skgc-vrd-prod-koce-other-001-subnet"
        cidr = ["10.242.19.0/26"]
    },
    
    {
        name = "skgc-vrd-dev-koce-dmz-001-subnet" 
        cidr = ["10.242.22.0/26"]
    },
    {
        name = "skgc-vrd-dev-koce-ml-001-subnet"
        cidr = ["10.242.22.128/26"]
    },
    {
        name = "skgc-vrd-dev-koce-data-001-subnet"
        cidr = ["10.242.22.192/26"]
    },
    {
        name = "skgc-vrd-dev-koce-other-001-subnet"
        cidr = ["10.242.23.0/26"]
    }
]