# subscription_id = "2dbedacf-40ac-4b61-8bdc-a3025e767aee"
# default_resourcegroup = "skgc-vrd-prod-koce-network-rg"


resourcegroup= "skgc-vrd-prod-koce-app-rg"
nodepool_vm_size = "Standard_D4_v3"
k8s_subnet_id = "/subscriptions/2dbedacf-40ac-4b61-8bdc-a3025e767aee/resourceGroups/skgc-vrd-prod-koce-network-rg/providers/Microsoft.Network/virtualNetworks/vrd-001-vnet/subnets/skgc-vrd-prod-koce-app-001-subnet"

client_id     = "appID"
client_secret = "password"